
@{
    ViewBag.Title = "Statistics";
}

<script src="~/Scripts/Core/scriptjava.js"></script>
<script src="~/Scripts/Statistics/StatisticsView.js"></script>

<h2>Статистика</h2>

<div id="statisticList">
    <img src="~/Image/loader.gif" id="load" style="display:none; margin: 0 auto" alt="Alternate Text" />
</div>

